textarea{
    width: 100%;
    height: fit-content;
    resize: none;
    font-size: 1rem;
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
    overflow: hidden;
    border: none;
    background-color: #ddd;
    border-radius: 50px;
}
textarea, input {
    font-family: Helvetica, Arial, sans-serif;
}

label {
    width: 100%;
    font-size: 1rem;
    margin-bottom: .5rem;
}

input[type="checkbox"]{
    
    width: fit-content;
}

span{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-right: 1.2rem;
}
 span input, span label{
    height: 100%;
    margin-bottom: 0;
}

span label {
    margin-left: .4rem;
    display: flex;
    align-items: center;
}

body{
    overflow: hidden;
}

main{
    margin-top: 2rem;
    padding-bottom: 2rem;
}

main .card{
    min-height: none;
    height: 100%;
    overflow: auto;
}

label[for="docs"]{
    margin-top: 2rem;
}

.itens, .subtipo, .itens span{
    display: block;
}

.itens span{
    display: inline-block;
    line-height: 100%;
    padding: .2rem;
}

.nomeDemanda, .itens, .checkbox, .subtipo{
    padding-left: 0;
    margin-right: 0;
}

.subtipo{
    padding: 1rem;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    border-right: dashed 1px black;
    margin-right: .2rem;
}

.vertical {
    width: 100%;
}

.itens{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
}

.itens:hover{
    background-color: #ddd;
}

.vertical :last-child{
    border: none;
}

.demandas {
    width: 100%;
    display: flex;
    border-bottom: solid black 1px;
}

.docs {
    width: 95%;
    border: solid 1px black;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

h2{
    border-bottom: dotted var(--cor_letra2) 1px;
}