textarea{
    width: 100%;
    height: fit-content;
    resize: none;
    font-size: 1rem;
    padding: 1.8rem 1.8rem 1.8rem 1.8rem;
    overflow: hidden;
    border: none;
    background-color: #ddd;
    border-radius: 50px;
}
textarea, input {
    font-family: Helvetica, Arial, sans-serif;
}

label {
    width: 100%;
    font-size: 1rem;
    margin-bottom: .5rem;
}

input[type="checkbox"]{
    
    width: fit-content;
}

span{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-right: 1.2rem;
}
 span input, span label{
    height: 100%;
    margin-bottom: 0;
}

span label {
    margin-left: .4rem;
    display: flex;
    align-items: center;
}

main .card{
    min-height: none;
    height: 100%;
    overflow: auto;
}

label[for="docs"]{
    margin-top: 2rem;
}

.docs {
    width: 95%;
    border: solid 1px black;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}