input[type="number"], input[type="password"]{
    width: 50%;
}
a{
    text-decoration: none;
    color: var(--cor_letra);
    font-size: .8rem;
    width: 50%;
}

.agrofam img{
    height: 8rem;
    object-fit: scale-down;
}

.agrofam{
    margin: auto;
}

h3{
    position: absolute;
    top:0;
}

main{
    height: 89%;
}

main .card {
    transform: translateY(-70%);
}