.doc{
    background-color: #ddd;
    width: fit-content;
    border-radius: 13%;
}
.doc img{
    height: 10.5rem;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

.documento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

section{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    height: 30rem;
    overflow: auto;
    flex-wrap: wrap;
}