.card{
    align-items: center;
    justify-content: center;
    height: fit-content;
    
}

main{
    height: 80%;
}

main .card{
    background-color: unset;
}

.opcao{
    margin: auto;
    background-image: linear-gradient(to right, rgb(126, 81, 157), rgba(127, 81, 157, 0.711));
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    color: rgb(255, 255, 255);
    position: relative;
    pointer-events: all;
    cursor: pointer;
}

.opcao p{
    position: absolute;
    z-index: 1;
    padding: 1rem;
    text-transform: capitalize;
}

.img{
    overflow: hidden;
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
}
.img img{
    position: inherit;
    right: 0;
    overflow: hidden;
    height: 90%;
    padding: .1rem;
    object-fit: scale-down;
}

a{
    display: block;
    width: 100%;
}

a[href="pages/util/telaPesquisaOfertas.php"] .opcao{
    background-image: linear-gradient(to right, var(--cor_destaque), rgba(50, 205, 50, 0.378));
}

a[href="pages/util/telaPesquisaOfertas.php"] .opcao img{
    transform: rotateY(180deg);
}

.background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.background img{
    transform: translateY(50%);
    object-fit: cover;
    position: absolute;
    height: 100%;
    bottom: 0;
}

.background :nth-child(1){
    transform: unset;
    transform: translateY(50%);
}