main {
    margin-top: 2%;
    height: fit-content;
}

body{
    overflow: hidden;
}

.foto{
    width: 10%;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 80px;
    background-color: rgb(59, 58, 58);
    margin-bottom: 1.2rem;
    overflow: hidden;
    box-shadow: 2px 2px 0 rgb(100, 100, 100);
    
}

.foto img{
    object-fit: scale-down;
    object-position: center;
    height: 100%;
}

.user{ 
    text-align: center;
    display: flex;
    flex-direction: column;
}
.user b{
    color:var(--cor_destaque);
    text-transform: capitalize;

}
.acoes{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 2rem;
}
.acoes p{
    margin: 1rem 0;

}
.acoes p{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}
.acoes img{
    height: 1.9rem;

}
.acoes span{
    width: 80%;
}

a{
    text-decoration: none;
    color: inherit;
}

#sair{
    color:#f17070;
    font-weight: bold;
}

#sair img{
    filter: invert(74%) sepia(20%) saturate(6456%) hue-rotate(313deg) brightness(95%) contrast(99%);
}

@media (max-height: 595px){
    body{
        overflow: auto;
    }
}