main{
    overflow: auto;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.item img{
    height: 8rem;
    object-fit: scale-down;
    border: solid black 1px;
    margin: .5rem;
}

.item{
    display: flex;
    background-color: #ddd;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.item p{
    line-height: 1.3rem;
    padding: 1rem;
}

form{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

form input[type="submit"]{
    margin-left: 1rem;
}