main{
    overflow: auto;
    margin-top: 5rem;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}
form{
    display: flex;
    margin-bottom: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

form[action="./telaPesquisaEditais.php"]{
    margin-bottom: 2rem;
}

form input[type="submit"], form select{
    margin: unset;
    margin-left: 1rem;
}

.editais form{
    width: 100%;
    padding: unset;
}

.editais input[type="submit"]{
    width: fit-content;
}

.editais{
    text-align: center;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

span.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.header{
    display: flex;
}

.header div{
    text-align: center;
    border-bottom: solid black 1px;
}

.periodo{
    width: 40%;
}
.nome{
    width: 20%;
}